# CI/dev artifacts
*.log
junit
node_modules
fixtures/types.js
.tmp

# build artifacts
dev.*
index.*js
index.*map

# System junk
.DS_Store
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
